<article>
  <h1><%=post.title%></h1>
  <img src=<%=post.image%>>
  <h4>
    <p><%=post.year%></p>
    <p><%=post.medium%></p>
    <p><%=post.size%></p>
  </h4>
</article>

<link rel="stylesheet" href="/CSS/reset_plus.css">
<link rel="stylesheet" href="/CSS/stijl.css">
